<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="NativeControls" version="0.1.0">

    <name>NativeControls</name>
    <description>Cordova NativeControls Plugin</description>
    <license>MIT</license>
    <keywords>cordova,native controls</keywords>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
 		<feature name="NativeControls">
        		<param name="ios-package" value="NativeControls" />
    		</feature>
       </config-file>

        <js-module src="www/NativeControls.js" name="nativecontrols">
        </js-module>

        <header-file src="src/ios/NativeControls.h" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/NativeControls.m" compiler-flags="-fno-objc-arc" />

    </platform>

</plugin>
